body{
  background-color: $secondary;
  margin: 0;
}
section{
  height: 100vh;
}

p{
  margin: 0;
}
h1, h2, h3, h4, p{
  margin: 0.5rem 0;
}

.link{
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: $primary;
  border:0;
  padding: 0.5rem;
  font-size: 1.5vw;
  text-decoration: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.global-background {
  background-size: cover;
  position: relative;
  background-position: bottom;
  &:before {
    content: '';
    background: $secondary;
    background: linear-gradient(
                    180deg,
                    rgba(19, 41, 57, 0.700717787114846) 5%,
                    rgba(49, 69, 82, 0.6979166666666667) 45%,
                    rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

footer{
  @extend .headline__light;
  @include flex(column);
}
