.button{
  background-color: $secondary;
  font-family: 'Roboto', sans-serif;
  border: solid 3px #ffcc01;
  color: #ffcc01;
  border-radius: 3rem;
  padding: 1rem 3rem;
  font-size: 2vw;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    border: solid 3px #3264b0;
    transition: background-color 0.3s, color 0.3s;
  }
  &:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
}

