.input{
  @include fluid-property('font-size', 16, 30);
  font-family: 'Roboto', sans-serif;
  border: solid 3px $primary;
  background-color: $secondary;
  border-radius: 3rem;
  padding: 1rem 3rem;
  color: $white;
  outline: 0;
  margin: 1rem 0;
}